*{
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header, ul{
    background-color: #f1b172;
    height: 70px;
    align-items: center;
    display: flex;
}
.circle{
    font-size: xxx-large;
    margin-left: 68px;

}
.text1{
    color: white;
    padding-left: 14px;
    font-size: 24px;
}
.menuButton{
    display: flex;
    width: 100%;
    margin-right: 10%;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 35px;
}
.menuButton ul{
    display: none;
}
.iconWeb{
    display: none;
}
.fa{
    color: white;
}

.image{
    background-image: url("image/download (1).jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 500px;
}
.color{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:rgb(238, 152, 67,0.8);
    align-items: center;
    justify-content: center;
    color: white;
}
.text2{
font-family: sans-serif;
font-size: 20px;
text-align: center;
     }
.text3{
    font-family: 'Great Vibes', cursive;
    font-size: 26px;
    text-align: center;

}

.subContainer, .circle1, .button, .message,.circle2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.circle1{
    margin-top: 30px;
    height: 140px;
    width: 140px;
    font-size: 40px ;
    border-radius: 50%;
    color: white;
    background-color: #5f5b54;
}
.text4{
    margin-top: 20px;
    font-size: 25px;

}
.text5{
    margin: 0px 20%;
    margin-top: 20px;
    font-size: 20px;
    color: #666777;
    text-align: center;
}
.text6{
    text-align: center;
    margin: 0px 1%;
    margin-top: 20px;
    font-size: 26px;
}
.text7{
    margin: 0px 7%;
    margin-top: 20px;
    font-size: 20px;
    text-align: justify;

}
.innerBox{
    margin-top: 30px;
    background-color: #f5f5f5;
    padding-bottom: 10px;
    
}
.image1{
    margin: 0px 20px;
    
}
.button{
    margin-top: 40px;
    cursor: pointer;
    font-size: 26px;

    
}
.buttonInside{
    padding: 20px;
    color: black;
    background-color: #f88c2b;
    text-decoration: none;
}
@media screen and (min-width: 550px) {
    .text2{
        font-size: 27px;
    }
    .text3{
        font-size: 33px;
    }
    .text4{
        font-size: 27px;
    }
    .text5{
        margin: 0px 24%;
        font-size: 22px;
        margin-top: 20px    ;
    }
    .circle1{
        width: 150px;
        height: 150px;
        font-size: 50px;
    }
}
@media screen and (min-width: 850px) {

    .image{
        background-attachment: fixed;
        background-size: 100% 573px;
    }
    .menuButton{
        margin-right: 100px;
    }
    .menuButton ul {
        display: flex
      }
      .menuButton ul > li {
        font-family: cursive;
        font-size: 20px;
        padding:21px;
        list-style: none;
        color: white;
      }

      .menuButton i{

          display: none;
      
      }
      .text1{
          font-size: 20px;
      }
      .text2{
          font-size: 33px;
      }
      ul{
          align-items: flex-start;
      }
      li:hover {
        background-color: black;

      }
      li a{

          text-decoration: none;
          color: inherit;
 
          font-size: 15px;
      }
      .border{
          border-top:5px solid #5f5b54;
          margin: 0px 20%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          height: 0px;
      }
      .dot{
        height: 15px;
        width: 15px;
        margin-top: -4px;
        border-radius: 50%;
        background-color: #5f5b54;
      }
      .circle1 {
        
        height: 100px;
        width: 100px;
        font-size: 28px;
        color: white;
        background-color: #5f5b54;
        border-radius: 50%;
        
    }
    
    .subContainer{
        flex-direction: row;
        margin: 0px 50px;
        margin-top:-87px;
    }
   
    .text4{
        font-size: 20px;
    }
    .text5{
    
        padding: 0px 7%;
        margin: 0px 17%;
        margin-top: 20px;
        font-size: 15px;
    }
    
    .innerBox{
        padding-top: 10px;
        height: 400px;
        margin-top: 60px;
    }
    .image1{
        margin-top: 50px;
        margin-left: 100px;
        opacity: 0.2;
        margin-right: 30px;
        float: left;
        width: 40%;
    }
    .text6{
        text-align: initial;
        margin-top: 80px;
        font-size: 20px;
    }
    .text7{
        font-size: 15px;
    }
    .button{

        font-size: 20px;

        align-items: flex-start;
        justify-content: flex-start;;
        margin-top: 33px;
        padding: 15px;
        cursor: pointer;
        font-size: 26px;
        font-size: 15px;
        color: white;
        background-color:transparent;
    }
    }
    .buttonInside{

        padding: 15px;
        background-color: #f88c2b;
    }
}