*{
    margin: 0px;
    box-sizing: border-box;
}

  .row{
    background-color: rgba(215, 230, 243, 255);
    padding: 20px 10px 0px 10px !important;
    margin-bottom: 0px !important;
  }
  img.col.s12 {
    margin-bottom: 20px;
}
.last,.imageWeb11,.section1,.uName,.dButton{
    display: none;
}
.mainContainer{
    display: flex;
}
.section2{
    width: 100%;
}
.icons,.subHead,.head {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 60px;
}
.head {
    margin-bottom: 5px;
  }
  .icon1 {
    padding-left: 20px;
    font-size: 27px;
    padding-right: 20px;
  }
  .searchBar {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 50px;
      background-color: #f3edfe;
      border: 1px white;
      padding-right: 10px;
    width: -webkit-fill-available;
  }
  
  .searchBar input {
    width: 100%;
    border-bottom: 0px !important;
    background-color: rgba(243, 237, 254, 255);
    border-radius: 30px;
    padding: 10px;
    border: 0px;
  }
  .icons {
    width: 100%;
    font-size: 25px;
    color: #969395;
    padding-right: 10px;
    justify-content: flex-end;
  }
  .icon2 {
    padding-right: 14px;
  }
.subHead {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
  }
  .text1 {
    border-left:5px solid blue;
    padding-left: 15px;
    font-size: 20px;
  }
  .text2 {
    padding-left: 15px;
    font-size: 15px;
  }
  .text2 a {
    text-decoration: none;
  }
  .icon3 {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 25px;
  }
 .line{
     border: 1px solid;
 }
@media screen and (min-width: 993px) {

.sidenav-trigger{
   display: block !important;
}
.col.s12.l12.white {
    margin-bottom: 20px;
}
.imageWeb11{
    display: block;
}
.last{
    margin: 10px;
    display: block;
}
.imageWeb1{
    display: none;
}
.striped{
    border-collapse: separate;
    border-spacing: 0 1em;
}
.striped>tbody>tr:nth-child(even){
    background-color:rgba(242,242,242,0.5) !important;
}
.row{
    padding-bottom: 20px ;
}
.section1{
    display: block !important;
    width: 20%;
}

a.waves-effect {
    padding: 10px;
    width: 100%;
    color: #737989;
}
a.brand-logo.center {
    font-family: 'Francois One', sans-serif;
}
a.waves-effect:hover,a.dropDown:hover{
    background-color: #353942;
    color: white;
  } 
  
.fa, .fas {
    padding-right: 10px;
}
.navcontent {
    background-color: #323641;
    height: 93%;
}
a.dropDown {
    padding: 0px 0px 0px 40px;
    background-color: #323641;
    color: #737989;
    display: none;

}
a.waves-effect:hover .dropDown {
    display: block;
  }
  
  .logo{
      padding-left: 20px;
  }
  .uName{
    display: block;
      font-size: 16px;
      color: white;
  }
  .dButton{
    display: block;
      font-size: 10px;
      color: white;
      
  }
  .user{
    display: flex;
    align-items: center;
    background-color: #805ef3;
    padding: 13px;
}
.user>div{
    padding-right: 10px;
}
.icon3{
    padding: 0px;
}
  .text2{
    font-size: 13px;
    padding-top: 8px;
  }

}