* {
  margin: 0px;
}
.Container {
  height: 96%;
  width:100% ;
  display: flex;
}
.left {
  height: 100%;
  width: 14%;
  margin: 10px ;
  margin-right: 0px;
  background-color: coral;
}
.right {
  height: 100%;
  width: 14%;
  margin: 10px;
  margin-left: 0px;
  background-color: coral;
}
.middle {
  height:99%;
  width: 70%;
  margin: 10px;
  flex-direction: column;

  }
.middle>div{
  height: 50%;
  background-color: coral;
}
