*{
    margin: 0px;
    box-sizing: border-box;
}
i.fab.fa-reddit {
    color: black;
    font-size: 50px;
    padding-left: 10px;
}
li.blogo{
    color: black;
    padding-left: 10px;
    font-size: 30px;
}
span {
    margin: -44px;
    font-size: 11px;
    color: blue;
    float: right;
    padding-right: 39px;
}
.image{
    background-image: url("image/image01.jpg");
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 28px;
    text-align: justify;
    padding: 36% 5% 10%;
    color: #f5f4f4ba;
}
.fa.fa-bars,nav ul a{
color: black;
}
.cAbout.center,.Skilltext1.center,.contactHead.center,.ghead,.clienttext1.center,i.fas.fa-chevron-right,.mainhead.center ,i.fas.fa-chevron-left,.features.head{
    font-size: 30px;
}
#aboutCompany{
    padding: 30px;
}
.text2 {
    font-size: 18px;
    padding-top: 20px;
    text-align: justify;
}
.progresBar{
    width: 100%;
    height: 13px;
    background-color: blue;
}
.bartext ,.clienttext2,.clienttext3{
    padding: 20px 0px 0px 0px;
    font-size: 17px;
}
.clienticons >li{
    padding: 10px;
    margin-right: 10px;
    background-color: rgba(221,221,221,255);
}
.features.row{
    background-image:url(image/image02.jpg);
    padding: 20px 20px 0px;
}
.featureGrid.col.s12.l5.white{
    margin-bottom: 20px;
    padding: 10px;
}
.page-footer {
    padding-top: 0px !important;
}
ul.socialmedialogo.right.valign-wrapper.hide-on-med-and-down >li{
    background-color: blue;
    padding: 13px;
    margin-right: 10px;
}
#contact{
    background-image: url(clientlogo/sea-1265064_960_720.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10px;

}
.clo {
    color: white;
    padding: 10px 0px;
}
.name,.email,.message {
    color: white;
    font-size: 18px;
}
textarea {
    background-color: white;
    height: 200px;
}
i.fas.fa-map-marker-alt,i.fas.fa-mobile,i.far.fa-envelope,i.fas.fa-phone-alt {
    padding-right: 40px;
}
input[type="text"] {
    background-color: white !important;
}
.submitButton{
    margin-top: 20px;
}
button.btn.waves-effect.waves-light{
    color: black;
}
.gridtext1.col.s8{
    height: 220px;
    padding: 10px;
    font-size: 16px;
    background-color: white;
}
.icon2.col.s4 {
    background-color: blue;
    height: 100px;
}
.text12,.ghead{
    padding-top: 10px;
}
i.fas.fa-desktop,.fas.fa-sync-alt,.fas.fa-user-cog,.fas.fa-dolly-flatbed,.fas.fa-database,.fas.fa-mobile-alt{
    font-size: 35px;
    color: white;
    line-height: 98px;
}
#gridmain {
    background-color: #dddddd;
}
.gridContainer {
    padding: 20px 20px 10px;
}
.imtext{
    color: white;
}
nav ul a:hover {
    background-color: blue !important;
    color: white;
}
@media screen and (max-width: 600px) {
    ul.clientlogo.row.valign-wrapper{
        flex-direction: column;
      }
      i.fab.fa-reddit {
          margin-top: 4px;
        }
        span{
            margin: -38px
        }
}
@media only screen and (min-width: 993px){
.container {
    width: 90%;
}
.email.col.s12.l5.right {
    width: 48%;
}
button.btn.waves-effect.waves-light{
    float: right;
}
}