*{
    margin: 0px;
    box-sizing: border-box;
}
.logo{
    padding-left: 10px;
    font-size: 64px;
}
.cName{
    font-size: 27px;
    padding-left: 10px;
}
.cName span{
    margin: -5px;
    font-size: 11px;
    color:  blue;
    float: right;
    padding-right: 10px;
}
.icon1{ 
    font-size: 35px;
}
.link{
    padding: 26px;
    text-decoration: none;
    color: black;
    font-size: 22px;
}
.otion>li{
    list-style: none;
}

.link:hover {
    color: white !important;
    background-color: blue;
}
.image{
    background-image: url("image/image01.jpg");
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 28px;
      color: #f5f4f4ba;
      font-size: 30px;
    padding: 0px 10%;
    text-align: justify;
}
.hh{
    color: white;
}
.cAbout, .Skilltext1, .contactHead, .ghead, .clienttext1,  .mainhead,.dhead,.featureshead,.mhead{
    font-size: 30px;
}
.text2{
    text-align: justify;
}
.gridtext1.col-8 {
    padding: 14px;
}
.text12 {
    padding-top: 10px;
}
#aboutCompany {
    padding: 30px;
}
.progresBar{
    width: 100%;
    height: 13px;
    background-color: blue;
}
.bartext ,.clienttext2,.clienttext3{
    padding: 20px 0px 0px 0px;
    font-size: 17px;
}
i.fas.fa-chevron-right ,i.fas.fa-chevron-left{
    background-color:rgba(221,221,221,255);
    padding: 10px;
    font-size: 30px;
    margin-left: 10px;
}
.features.row{
    background-image:url(image/image02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
img {
    width: 91%;
}
div#contact\ {
    background-image: url(clientlogo/sea-1265064_960_720.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px;
    color: white;
}
textarea {
    height: 200px;
    width: 100%;
}
input[type="text"] {
    width: 100%;
}
.gridtext1{
    height: 240px;
    font-size: 16px;
    background-color: white;
}
.icon2 {
    background-color: blue;
    height: 100px;
    color: white;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid1.row.gx-0 {
    padding: 0px 11px;
}
#gridmain {
    background-color: #dddddd;
    padding: 20px;
}
.slogo {
    background-color: cornflowerblue;
    padding: 13px;
    margin-left: 10px;
}
@media only screen and (min-width: 993px){
    
.featureGrid{
    width: 48%;
}
}
