*{
    margin: 0px;
    box-sizing: border-box;
}
.head{
    color: white;
    background-image: url(image/navbackground.jpg);
    display: flex;
    padding: 10px 0px;
     background-size: 100% 100%;
    background-repeat: no-repeat;
}


.circle{
    width: 30px;
    margin-right: 5px;
    height: 30px;
    border-radius: 50%;
    display: flex;
     align-items: center;
    justify-content: center;
    border: 1px solid white;
}
.circle i{
    font-size: 10px;

}
.htext11 i{
    padding: 0px 13px 0px 5px;
}
.smenuButton{
    font-size: 30px;
}
.shLogo {
    font-size: 20px;
    padding-right: 14px;
}
span.badge.badge-pill.badge-dark {
    position: absolute;
    background-color: black;
    padding: 2px 5px;
    top: -10px;
    right: -11px;
    border-radius: 50%;
}
.section3.d-none.d-lg-flex.justify-content-between {
    width: 67%;
}
span.badge.bg-primary,span.badge.bg-danger,span.badge.bg-warning {
    padding: 3px 3px;
    top: -8px;
    right: -23px;
}
.image1{
    background-image: url("image/image1.jpg");
    background-size: 100% 100%;
    height: 350px;

}
.color {
    color: white;
    padding: 35px 10px;
    background-color: rgb(0, 0, 0,0.5);
}
.color span,span {
    color: #f5f4f4ba;
}
.cardText{
    position: absolute;
    width: -webkit-fill-available;
    text-align: center;
    top: 188px;
    padding: 35px 10px;
    margin: 0px 30px;
    color: white;
    background-color: rgb(0, 0, 0,0.5);
}
.imagetext.row.gx-0 {
    background-color: #f4f4f4;
}

.title{
    font-size: 20px;
    color: #6d7877;
    margin-top: 20px;
}
.line1{
    border: 1px solid;
    margin: 5px 0px 20px;
    width: 60px;
}
.line {
    border: 2px solid #2d2d2d;
    margin-top: 50px;
}
.page{
    justify-content: center;
    margin-top: 20px;
    }
    .page> div{
        padding: 0px 30px 0px 0px;
    }
    .gitext{
        padding: 10px 0px;
        color:  #6d7877;
    }
    .giimage,.gilist{
        flex-wrap: wrap;
        color: #9fa2a1;
    }
    .list{
        border: 1px solid #6d7877;
        margin: 5px;
        padding: 10px;
    }
    .set1{
        align-items: flex-start;
        color: #6d7877;
        margin-bottom: 20px;
    }
    .settext1 {
        margin-left: 10px;
    }
    .posttext1 {    
        margin-bottom: 14px;
        color: #6d7877;
    }
    .textside{
       color: #6d7877;
    }
    .contactmain {
        background-image: url(image/download\ \(1\).jpg);
        background-size: 100% 100%;
    }
    .contact {
        background-color: rgb(0, 0, 0,0.9);
        color: white;
    }
    .contact1 >div {
        padding: 20px 0px;
    }
    .csec1 > div {
        padding: 8px 0px;
    }
    .clogo > div {
        padding-right: 20px;
    }
    .csec2, .csec3, .csec4 {
        font-size: 23px;
    }
    .csec3:hover .touch,.csec2:hover .touch,.csec4:hover .touch {
        display: block !important;
    }
    .touch{
        font-size: 20px;
    }
    .touch>div {
        padding: 10px 0px;
    }
    .contact2> div{
        padding: 8px 0px;
    }
    .csec5{
        font-size: 20px;
    }
    .paymentlogo>div {
        padding-right: 5px;
        font-size: 26px;
    }
    .page-footer {
        background-color: black;
        color: white;
    }
    .fcolor {
        color: yellow;
    }
    .fcontent{
        padding: 20px 70px;
    }
    .circle1{
        position: fixed;
        bottom: 10px;
        right: 2%;
        max-width: 47px;
        max-height: 47px;
        width: 100%;
        height: 100%;
        font-size: 12px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #97642a;
        }
        .circle1 a{
            text-decoration: none;
        }
        .fa-chevron-circle-up{
            font-size: 35px;
            background-color: white;
            border-radius: 50%;
            color: #97642a;
        } 
        input.form-control.rounded {
            border-radius: 28px !important;
            background-color: inherit;
            border: none;
        }
        .input-group {
            border: 1px solid;
            border-radius: 40px;
            WIDTH: 84%;
            MARGIN: 0PX 10%;
        }
        a.btn.btn-warning {
            border-radius: 28px !important;
        }
        .searchBar{
            padding: 7px 5px !important;
            display: flex;
            border: 1px solid;
            border-radius: 50px;
            width: 80%;
            margin: 0px 10%;
        }
        .searchBar input{
            border: none;
            border-radius: inherit;
            background-color: initial;
            font-size: 20px;
            background-color: none;
            color: white;
            width: 63%;
        }
        .searchBartext{
            background-color: #97642a;
            color: white;
            width: 36%;
            padding: 7px;
            display: flex;
            align-items: center;
            font-size: 23px;
            justify-content: center;
            border-radius: inherit;
        }
        .searchBartext1 {
            background-color: #252525;
            color: white;
            width: 55%;
            padding: 7px;
            display: flex;
            align-items: center;
            font-size: 17px;
            justify-content: center;
            border-radius: inherit;
        }
        .searchBar1{
            margin: 0px 0px 40px;
            width: 100%;
            display: flex;
            border: 1px solid;
            border-radius: 50px;
            padding: 3px 5px !important;
        }
        .searchBar1 input{
            border: none;
            border-radius: inherit;
            background-color: initial;
            font-size: 16px;
            background-color: none;
            color: white;
            width: 63%;
        }
        
    @media screen and (min-width: 993px){
        .imagetext,.contact {
            padding: 70px !important;
        }
        
        .csec1{
            width: 40% !important;
        }
        .csec2,.csec3,.csec4{
            width: 19.666667% !important;
        }
        .csec1head {
            padding-top: 0px !important;
            font-size: 35px !important;
            letter-spacing: 16px;
        }
        .searchBar{
            width: 100%;
            margin: 0px;
    }
}