*{
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.head{
    color: white;
    background-image: url(image/navbackground.jpg);
    display: flex;
    padding: 10px 0px;
    align-items: center;
    justify-content: space-between;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.hLogo{
    display: flex;
    align-items: center;
}


.circle{
    width: 30px;
    margin-right: 5px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}
.circle i{
    font-size: 10px;

}
.hTitle{
    display: none;
}
.htext{
    display: flex;
    align-items: center;
}
.htext11 i{
    padding: 0px 13px 0px 5px;
}
.subHead{
    width: 100%;
    padding-right: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eeeeee;
}
.section1{
    width: 90%;
    display: flex;
    align-items: center;
}
.section3{
    display: flex;
}
.section3> div{
    
}
.smenuButton{
    font-size: 30px;
    padding-right: 20px;
}
.section1 img{
    width: 150PX;
}
.section2{
    display: flex;
}
.shLogo{
    font-size: 20px;
    padding-right: 10px;
}
 .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 2px 6px;
    border-radius: 50%;
    background-color: black;
    font-size: 14px;
    color: white;
  }
  .fa-envelope-open-text,.fa-heart{
      position: relative;
  }
  
.image1{
    background-image: url("image/image1.jpg");
    background-size: 100% 100%;
    height: 400px;
    display: flex;
    align-items: flex-end;
    text-align: center;
}
.color{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 15px;
    color: white;
    width: 100%;
    padding: 35px 10px;
    background-color: rgb(0, 0, 0,0.5)
}
.color span,.color1 span{
    color: #f5f4f4ba;
}
.imagewithtext{
    background-color: #f4f4f4;
    padding: 0px 10px 15px;
    margin-top: 20px;
}
.imgtext2{
    display: none;
}
.color1{
    width: 100%;
    margin: 0px 20px 40px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    color: white;
    padding: 35px 10px;
    background-color: rgb(0, 0, 0,0.5)
}
.textbutton{
    padding: 10px 22px;
    background-color: #ececec;
}
.text{
    text-align: justify;
    font-size: 25px; 
}
.button1{
    margin-top: 30px;
}
.button1 button{ 
    font-size: 27px;
    padding: 10px 20px;
    color: #a56c2a;
    border: solid #a56c2a;

}
.line{
    border: 2px solid #2d2d2d;
    margin-top: 50px;
}
.page{
display: flex;
justify-content: center;
margin-top: 20px;
}
.page> div{
    padding: 0px 30px 0px 0px;
}
.contactmain{
    background-image: url(image/download\ \(1\).jpg);
    background-size: cover;
}
.contact{   
    background-color: rgb(0, 0, 0,0.9);
    color: white;
}
.contact >div{
    padding: 20px 0px;  
}
.contact1 >div{
    padding: 20px 0px;  
}


.csec1 {
    text-align: center;
}
.csec1 > div{
    padding: 8px 0px;
    font-size: 16px;
}
.addemaiL{
    display: flex;
    justify-content: center;
}
.addemaiL i{
    padding-right: 7px;
}
.clogo{
    display:flex ;
    justify-content: center;
}
.csec1head{
    font-size: 50px !important;
}
.csec2,.csec3,.csec4{
    font-size: 23px;
    text-align: center;
}
.clogo > div{
    padding-right: 20px;
}
.csecmain{
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.csecmain> div{
    PADDING: 15PX 30PX;
}
.csec5{
    font-size: 20px;
}
.searchBar{
    padding: 7px 5px !important;
    display: flex;
    border: 1px solid;
    border-radius: 50px;
    width: 80%;
}
.searchBar input{
    border: none;
    border-radius: inherit;
    background-color: initial;
    font-size: 20px;
    background-color: none;
    color: white;
    width: 63%;
}
.searchBartext{
    background-color: #97642a;
    color: white;
    width: 36%;
    padding: 7px;
    display: flex;
    align-items: center;
    font-size: 23px;
    justify-content: center;
    border-radius: inherit;
}
.paymentlogo{
    display: flex;
}
.paymentlogo>div{
    padding-right: 5px;
    font-size: 26px;
}
.foot{
    background-color: black;
    color: white;
    padding: 20px 9%;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
}

.section3{
    display: none;
}

.csec2 :hover {
    display: none;
}
.touch{
    display: flex;
    text-align: unset;
    flex-direction: column;
    font-size: 20px;
}
.touch>div{
    padding: 10px 0px;
}
.touch{
    display: none;
}
.csec2 :hover {
    display: none;
}
.csec3:hover .touch,.csec2:hover .touch,.csec4:hover .touch {
    display: block;
}
.footlinks{
    display: none;
}
.fcolor{
    color: yellow;
}
@media screen and (min-width: 700px) {
    .hTitle{
        display: block;
    }
    .images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .image1 {
        height: 330px;
    }
    .section3{
        display: none;
    }

}

@media screen and (min-width: 950px) {
    .imagetextmain{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        background-color: #f4f4f4;
        padding: 70px 90px;
        column-gap: 20px;
    }
    .imagewithtext{
        grid-column: auto/span 3;
        display: grid;
          margin-top: 0px;
        row-gap: 70px;
    }
    .section1 img{
        width: 200px;
    }
    .badgehead{
        position: relative;
    }
    .badge1{
        position: absolute;
    top: -16px;
    right: -18px;
    padding: 1px 5px 1px 5px;
    border-radius: 26px;
    background-color: black;
    font-size: 14px;
    color: white;
}
    
    .smenuButton i{
        display: none;
    }
    .section3{
        display:flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .imgtext2{
        display: block;
    }
    .title{
        font-size: 20px;
        color: #6d7877;
        margin-top: 20px;
    }
    .line1{
        border: 1px solid;
        margin: 5px 0px 20px;
        width: 60px;
    }
    .searchBartext1 {
        background-color: #252525;
        color: white;
        width: 55%;
        padding: 7px;
        display: flex;
        align-items: center;
        font-size: 17px;
        justify-content: center;
        border-radius: inherit;
    }
    .searchBar1{
        margin: 0px 0px 40px;
        width: 100%;
        display: flex;
        border: 1px solid;
        border-radius: 50px;
        padding: 3px 5px !important;
    }
    .searchBar1 input{
        border: none;
        border-radius: inherit;
        background-color: initial;
        font-size: 16px;
        background-color: none;
        color: white;
        width: 63%;
    }
    .gitext{
        padding: 10px 0px;
        color:  #6d7877;
    }
    .giimage{
        display: flex;
        flex-wrap: wrap;
    }
    .giimage img{
        width: 80px;
        height: 80px;
    }
    .gilist{
        display: flex;
        flex-wrap: wrap;
        color: #9fa2a1;
    }
    .list{
        border: 1px solid #6d7877;
        margin: 5px;
        padding: 10px;
    }
    .set1{
        display: flex;
        color: #6d7877;
        margin-bottom: 20px;
    }
    .settext1 {
        margin-left: 10px;
    }
    .posttext1 {
        margin-bottom: 14px;
        color: #6d7877;
    }
    .contact{
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding: 70px 90px;
        column-gap: 20px;
    }
    .contact1{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        column-gap: 20px;
    }
    .contact1 >div {
        padding: 0px 0px;
    }
    .csecmain{
            /* text-align: center; */
    display: flex;
    text-align: start;
    width: 100%;
    align-items: start;
    flex-direction: column;
    }
    .csec1head{
        padding-top: 0px !important;
        font-size: 35px !important;
        letter-spacing: 16px;
    }
    .addemaiL{
        justify-content: flex-start;
    }
    .clogo{
        justify-content: start;
    }
    .csec1{
        text-align: unset;
    }
    .csec2 i,.csec3 i,.csec4 i{
        display: none;
    }
    .csec2,.csec3,.csec4{
        text-align: unset;
    }
    .csec5{
        padding-top: 0px !important;
    }
    .csecmain> div {
        padding: 15PX 0PX;
    }
    .searchBar{
        width: 100%;
    }
    .touch{
        display: flex;
        text-align: unset;
        flex-direction: column;
    }
    .touch>div{
        padding: 10px 0px;
    }
    .button1 button {
        font-size: 20px;
        border: 1px solid;
    }
    .text{
        font-size: 20px;
        color: #6d7877;
    }
    .foot{
        display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
    padding: 20px 90px;
    }
    .footlinks{
        display: flex;
        justify-content: space-between;
    }
    .fixedbutton {
        position: fixed;
        bottom: 560px;
        right: 1000px; 
    }
    
    .circle1{
    position: fixed;
    bottom: 10px;
    right: 2%;
    max-width: 47px;
    max-height: 47px;
    width: 100%;
    height: 100%;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #97642a;
    }
    .circle1 a{
        text-decoration: none;
    }
    .fa-chevron-circle-up{
        font-size: 35px;
        background-color: white;
        border-radius: 50%;
        color: #97642a;
    }
}
