*{
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.head1{
    width: 100%;
    display: flex;
    align-items: center;
    height: 70px;
}
.logo{
    padding-left: 10px;
    font-size: 64px;
}
.cName{
    font-size: 27px;
    padding-left: 10px;
}
.cName span{
    margin: -5px;
    font-size: 11px;
    color:  blue;
    float: right;
    padding-right: 10px;
}
.navBar{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 10px;
}
.icon1{ 
    font-size: 35px;
    padding: 18px;

}
.icon1:hover{
    background-color: blue;

}
.navBar ul{
    display: none;
}
.image{
    background-image: url("image/image01.jpg");
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100% 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text1{
    text-align: justify;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
    font-size: 30px;
    padding: 0px 10%;
    color: #f5f4f4ba;
    
}
.text1 b{
    color: white;
}
#aboutCompany{
    
    padding: 30px;
}
.cAbout b{
    font-family: 'M PLUS 1p', sans-serif;
}
.cAbout{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    font-size: 30px;
}
.text2{
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}
.gridmain b{
    font-family: 'M PLUS 1p', sans-serif;
}
#gridmain{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #dddddd;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}
.gridContainer{
    display: grid;
    font-family: sans-serif;
    padding: 30px 20px 20px 20px;
    width: 100%;

    background-color: #dddddd;
    text-align: center;
    font-size: 20px;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;

}
.grid1{
    contain: content;
    grid-column: auto/span 4;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.icon2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 36px;
    background-color: blue;
    height: 100px;
}
.gridtext1{
    height: 220px;
    text-align: initial;
    padding: 17px;
    background-color: white;
    grid-column: auto/span 3;
}
.text11{
    
}
.text12{
    padding-top: 10px;
}
.skillClient{
    display: flex;
    flex-direction: column;
}
.skill{
    padding: 20px;
    width: -webkit-fill-available;
}
.skilltext1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    font-size: 30px;
}
.skilltext1 b{
    font-family: 'M PLUS 1p', sans-serif;
}
.bartext{
    font-family:sans-serif;
    padding: 20px 0px 0px 0px;
    font-size: 17px;
}
.progresBar{
    width: 100%;
    height: 13px;
    background-color: blue;
}

.client{
    padding: 20px;
}
.clienttext1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    font-size: 30px;
}
.clienttext1 b{
    font-family: 'M PLUS 1p', sans-serif;
}
.clienttext2{
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px 0px 0px 0px;
}
.clienttext3{
    font-family: sans-serif;
    padding-top: 20px;
    font-size: 20px ;
}
.clienticons{
    display: flex;
    font-size: 35px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.clienticons>div{
    background-color: rgba(221,221,221,255);
    padding: 10px 15px 10px 10px;
    margin-right: 10px;
}
.features
{
    text-align: center;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-image:url(image/image02.jpg);
    padding: 20px;
    font-size: 30px;
}
.features b{
    font-family: 'M PLUS 1p', sans-serif;
}
.maingrid{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr ;
}
.featureGrid{
    padding: 10px;

}
.fText1{
    font-family: sans-serif;
    text-align: initial;
    padding: 10px;
    color: black;
    padding-left: 35px;
    font-size: 20px;
    background-color: white;
}
.fText2{
    font-family: sans-serif;
    color: black;
    text-align: justify;
    padding:  10px 35px 35px 35px;
    font-size: 17px;
    background-color: white;
}
.mainClient{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    font-size: 44px;
}
.mainClient b{
    font-family: 'M PLUS 1p', sans-serif;
}
.clientlogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img,.logo1 img{
    width: 100%;
    object-fit: cover;
}
.logo1 img{
    padding-top: 30px;
}
#contact{
    background-image: url(clientlogo/sea-1265064_960_720.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px;
}
.contactHead{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    
    text-align: center;
    font-size: 30px;
    color: white;
}
.contactHead{
    font-family: 'M PLUS 1p', sans-serif;
}
.contactFlex{
    display: flex;
    flex-wrap: wrap;

}

.contactFlex1,.contactFlex2{
    display: flex;
    flex-direction: column;
}
.contactFlex2{
    width: 100%;
}

.contactFlex1{
    color: white;
}
.contactFlex1>div{
    padding: 10px 0px;

}
.clo{
    display: flex;
}
.clo i{
    padding-right: 40px;
}
.name,.email{
    font-size: 18px;
    color: white;
}
.name input,.email input{
    width: 100% ;
    height: 30px;
}
.message textarea{

    width: 100%;
    height: 200px;
}
.message{
    color: white;
    margin-top: 20px    ;
    font-size: 18px;
}
.submitButton button{
    padding:16px;
}
.submitButton{
    margin-top: 20px;
}
.map,.foot{
    display: none;
}
.foot{
    color: white;
}
.footsub{
    display: flex;
    align-items: center;
    padding: 15px;
    padding-left: 10px;
}

@media screen and (min-width: 700px) {
    .gridContainer{
        grid-template-columns: repeat(8,1fr);
        gap: 20px;
    }
    .gridtext1{
        height: 230px;
    }
    .clientlogo{
        flex-direction: row;
    }
    .logo img{
        width: 63%;
        object-fit: cover;
    }
    .contactFlex2{
        width: 100%;
    }
    .name,.email{
        width: 47%;
    }
    .nameemail{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .foot{
        background-color: blue;
        align-items: center;
        display: flex;
    }
    .foot{
        display: block;
    }
    #map{
        display: block;
    }
    .socialmedialogo{
        display: flex;
        width: 100%;
        justify-content: flex-end;

    }
    .socialmedialogo> div{
        padding: 10px;
        background-color: white;
        color: blue;
        margin-right: 10px;
    }
    .foottext1{
        width: 82%;
        font-size: 10px;
    }
    


}
@media screen and (min-width: 900px) {
    .icon1{
        display: none;
    }
    .navBar{
        padding-right: 0px;
    }
    .navBar ul{
        display: flex;
        list-style: none;
        align-items: center;
    }
    
    
    .navBar ul>a{
        text-decoration: none;
        color: black;
        padding: 26px;
        cursor: pointer;
    
    }
    .navBar a:hover{
        background-color: blue;
        color: white;
    
    }
    .text1{
        font-size: 40px;
    }
    .text2{
        text-align: justify;
        font-size: 18px;
        padding-top: 20px;
    }
    .gridContainer{
        grid-template-columns: repeat(12,1fr);
        gap: 20px;
    }
    .gridtext1{
        height: 250px;
    }
    .skillClient{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    }
    .maingrid
    {
        grid-template-columns: repeat(2,1fr);
        column-gap: 100px;
    }
    .clientlogo{
        flex-direction: row;
    }
    .logo img{
        width: 63%;
        object-fit: cover;
    }
    .logo1 img{
        padding-top: 0px;
    }
    .submitButton {
        width: 100%;
    }
    .submitButton button{
        float: right;
    }
    .contactFlex1{
        width: 60%;
    }
    .contactFlex2{
        width: 40%;
    }

    
    

}