*{
    margin: 0px;
    box-sizing: border-box;
}
.containerMain{
    background-color: rgba(215, 230, 243, 255);
}
.last.p-2 {
    background-color: white;
    margin-top: 24px;
}
.lasttitle {
    margin-bottom: 20px;
}
table.table.table-striped {
    border-collapse: separate;
    border-spacing: 0 1em;
}
tr.active {
    background-color: rgba(0, 0, 0, 0.05);
}
li.nav-item {
    FONT-SIZE: 20px;
    padding-right: 10px;
}
#navbarNav {
    justify-content: space-between;
}
.wrapper {
    display: flex;
    width: 100%;
}
#sidebar {
    width: -webkit-fill-available;
}
ul.list-unstyled.components>li{
    padding: 10px;
}
i.fas.fa-chevron-down {
    float: right;
}
.fa-tachometer-alt,.fa-chart-pie,.fa-life-ring,.fa-screwdriver,.fa-table,.fa-map-marked,.fa-file-invoice,.fa-paperclip,.fa-exclamation-triangle {
    padding-right: 10px;
}
.wrapper {
    color: #737989;
}
ul.list-unstyled.components>li:hover,ul.drop> li:hover{
    background-color: #353942;
    color: white;
  }
  ul.list-unstyled.components>li:hover .dropcontent {
    display: block !important;
  }
.section1{
    background-color: #323641;
}
.subHead.row.gx-0 {
    height: 40px;
    align-items: center;
}
.text1{
    font-size: 23px;
    border-left: 5px solid blue;
    padding-left: 15px;
}
.text {
    line-height: 37px;
    padding-left: 10px;
}
i.fas.fa-user-graduate {
    padding-right: 10px;
    float: right;
    font-size: 21px;
}
input.form-control.me-2 {
    border-radius: 31px;
}
#navbarNav {
    display: flex!important;
    flex-basis: auto;
}
ul.navbar-nav {
    flex-direction: row;
}
.drop {
    list-style: none;
}