* {
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
.mainContainer {
  display: flex;

  background-color: #f2f2f2;
}
.container1 {
  display: none;
}
.container2 {
  width: 100%;
}
.head,
.icons,
.subHead {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 70px;
}
.head {
  margin-bottom: 5px;
}
.icon1 {
  padding-left: 20px;
  font-size: 27px;
  padding-right: 20px;
}
.searchBar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
    background-color: #f3edfe;
    border: 1px white;
    padding-right: 10px;
  width: -webkit-fill-available;
}

.searchBar input {
  width: 100%;
  background-color: rgba(243, 237, 254, 255);
  border-radius: 30px;
  padding: 10px;
  border: 0px;
}
.icons {
  width: 100%;
  font-size: 25px;
  color: #969395;
  padding-right: 10px;
  justify-content: flex-end;
}
.icon2 {
  padding-right: 14px;
}
.subHead {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
}
.text1 {
  border-left:5px solid blue;
  padding-left: 15px;
/* font-family: 'Francois One', sans-serif;*/
  font-size: 20px;
}
.text2 {
  padding-left: 15px;
  font-size: 15px;
}
.text2 a {
  text-decoration: none;
}
.icon3 {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 20px;
  font-size: 25px;
}
.uName,.dButton{
    display: none;
}
.gridContainer {
  display: grid;
  gap: 20px;
  background-color: rgba(215, 230, 243, 255);
  padding: 20px;
}
.imageWeb1,
.imageWeb2,
.imageWeb3,
.lastLayer {
  display: none;
}
.gridContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 750px) {
  .container1 {
    width: 20%;
  }
  .user{
      display: flex;
      align-items: center;
      background-color: #805ef3;
      padding: 12px;
  }
  .user>div{
      padding-right: 10px;
  }
  .uName,.dButton{
    display: block;
}
  .logo{
      padding-left: 20px;
  }
  .uName{
      font-size: 16px;
      color: white;
  }
  .dButton{
      font-size: 10px;
      color: white;
      
  }
  .text2{
    font-size: 13px;
    padding-top: 8px;
  }
  .icon3{
      padding: 0px;
  }
  .head1 {
    color: white;
    height: 70px;
    text-align: center;
    background-color: black;
    font-size: 24px;
    font-family: 'Francois One', sans-serif;

    padding-top: 20px;
  }
  .naviBar {
    background-color: #323641;
    height: 863px;
  }
  .dash {
    display: flex;
    color: #737989;
    font-size: 12px;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  .iconSame {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: inherit;
    padding-right: 10px;
  }
  .dash:hover ,.dropdown-content a:hover{
    background-color: #353942;
    color: white;
  }
  .iconC1 {
    padding-right: 5px;
  }
  .textC1{
    width: 100%;
    font-family: 'Francois One', sans-serif;
    display: inline-block;
  }
  .textC1:hover .dropdown-content {
    display: block;
  }
  .fa-chevron-up {
    float: right;
    padding-right: 8px;
  }

  .dropDown{
    padding: 3px;
    padding-left: 17px;
  }
  .dropdown-content a {
    text-decoration: none;
    font-family: 'Francois One', sans-serif;
    display: inline-block;
    font-size: 15x;
    color: #818181;
    display: inline-block;

    width: 100%;
    text-align: left;
    cursor: pointer;
  }
  
  .dropdown-content{
    display: none;
    background-color: #323641;
  }

  .gridContainer {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 230px 325px 173px;
  }
  .gridContainer img {
    object-fit: fill;
  }
  .imgMob {
    display: none;
  }
  .imageWeb1,
  .imageWeb2,
  .imageWeb3,
  .lastLayer {
    display: block;
  }
  .imageWeb1 {
    grid-column: auto/span 4;
  }
  .imageWeb2 {
    grid-column: auto/span 9;
  }
  .imageWeb3 {
    grid-column: auto/span 3;
  }
  .lastLayer {
    background-color: white;
    grid-column: auto/span 12;
    padding: 10px;
  }
  .table1 {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;
  }
  .table1 th,
  .table1 td {
    padding: 15px 0px;
    text-align: left;
    padding-left: 20px;
    background-color: #f6f7f9;
  }
  .ticon1{
      color: tomato;
  }
}
@media screen and (min-width: 850px) {
.container1{
    display: block;
}
}
