*{
    margin: 0px;
    box-sizing: border-box;
}
.head{
    justify-content: space-between;
    background-image: url(image/navbackground.jpg);
    background-size: 100% 100%;
    color: white;
    padding: 10px;
}
.circle{
    width: 30px;
    margin-right: 5px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}
.htext11 i{
    padding: 0px 13px 0px 5px;
}
.shLogo {
    padding-right: 10px;
}
.nav-wrapper {
    color: black;
}
.fa.fa-bars{
    color: black;
}

.section3 >li{
        padding: 0px 2%;
}
.image1.col.s12.l4 {
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 0px !important;
    align-items: flex-end;
}
.color.center {
    font-size: 15px;
    color: white;
    width: 100%;
    padding: 35px 10px;
    background-color: rgb(0, 0, 0,0.5);
}
.color span,span{
    color: #f5f4f4ba;
}
.textside{
color: #6d7877;
}    
.card {
    height: auto !important;
    width: 100% !important;
    margin: 0 !important;
    background-color: var(--picContainer2Text-color) !important;
    padding-bottom: 20px;
  }
  
  .card .card-image img {
    height: 400px;
    width: 100%;
    position: relative;
  }
  
  .cardText {
    position: absolute;
    bottom: 40px;
    color: white;
    margin-left: 2%;
    padding:35px 10px;
    width: 95%;
    background-color: rgb(0, 0, 0,0.5);
    font-size: 16px;
  }
  .b1{
    font-size: 13px;
    padding: 10px 20px;
    color: #a56c2a;
    margin-left: 10px;
    border: solid #a56c2a;
  }
  .imagetextmain.row {
    background-color: #f4f4f4;
    margin-bottom: 0px !important;
}
  .title{
    font-size: 20px;
    color: #6d7877;
    margin-top: 20px;
}
.line1{
    border: 1px solid;
    margin: 5px 0px 20px;
    width: 60px;
}
.line {
    border: 2px solid #2d2d2d;
    margin-top: 50px;
}
.page{
    justify-content: center;
    margin-top: 20px;
    }
    .page> div{
        padding: 0px 30px 0px 0px;
    }
.searchBartext1 {
    background-color: #252525;
    color: white;
    width: 55%;
    padding: 7px;
    display: flex;
    align-items: center;
    font-size: 17px;
    justify-content: center;
    border-radius: inherit;
}
.searchBar1{
    margin: 0px 0px 40px;
    width: 100%;
    display: flex;
    border: 1px solid;
    border-radius: 50px;
    padding: 3px 5px !important;
}
.searchBar1 input{
    border: none;
    border-radius: inherit;
    background-color: initial;
    font-size: 16px;
    background-color: none;
    color: white;
    width: 63%;
}
.gitext{
    padding: 10px 0px;
    color:  #6d7877;
}
.giimage,.gilist{
    flex-wrap: wrap;
    color: #9fa2a1;
}
.list{
    border: 1px solid #6d7877;
    margin: 5px;
    padding: 10px;
}
.set1{
    align-items: flex-start;
    color: #6d7877;
    margin-bottom: 20px;
}
.settext1 {
    margin-left: 10px;
}
.posttext1 {    
    margin-bottom: 14px;
    color: #6d7877;
}
.section.col.s12 {
    margin-bottom: 30px;
}
.contactmain {
    background-image: url(image/download\ \(1\).jpg);
    background-size: 100% 100%;
}
.contact {
    background-color: rgb(0, 0, 0,0.9);
    color: white;
    margin-bottom: 0px !important;
}
.csec3:hover .touch,.csec2:hover .touch,.csec4:hover .touch {
    display: block !important;
}
.touch>div {
    padding: 10px 0px;
    font-size: 20px;
}
.contact1 >div {
    padding: 20px 0px !important;
}
.addemaiL i{
    padding-right: 7px;
}
.csec1 > div {
    padding: 8px 0px;
    font-size: 16px;
}
.clogo > div{
    padding-right: 20px;
}
.addemail.valign-wrapper,.clogo.valign-wrapper,.paymentlogo.valign-wrapper {
    justify-content: center;
}
.csec2, .csec3, .csec4 {
    font-size: 23px;
}
.contact2.col.s12.l3>div{
    padding: 15px 0px;
}
.csec5 {
    font-size: 20px;
}
.searchBar{
    padding: 7px 5px !important;
    display: flex;
    border: 1px solid;
    border-radius: 50px;
    width: 100%;
}

.searchBartext{
    background-color: #97642a;
    color: white;
    width: 36%;
    padding: 7px;
    font-size: 23px;
    border-radius: inherit;
}
.paymentlogo>div {
    padding-right: 5px;
    font-size: 26px;
}
.page-footer {
     padding-top: 0px !important;
}
.fcontent.row {
    margin: 0px 0px 20px 0px;
    width: 100%;
    padding: 10px 20px 0px 60px;
}
.flinks.col.s12.l3.valign-wrapper {
    justify-content: space-between;
}
.circle1{
    position: fixed;
    bottom: 10px;
    right: 2%;
    max-width: 47px;
    max-height: 47px;
    width: 100%;
    height: 100%;
    font-size: 12px;
    border-radius: 50%;
    justify-content: center;
    border: 2px solid #97642a;
    }
    .circle1 a{
        text-decoration: none;
    }
    .fa-chevron-circle-up{
        font-size: 35px;
        background-color: white;
        border-radius: 50%;
        color: #97642a;
    }
@media screen and (min-width: 993px){
    .imagetextmain.row {
        padding: 70px 20px 70px 60px;

    }
    .csec1head {
    padding-top: 0px !important;
    font-size: 35px !important;
    letter-spacing: 16px;
}
.contact.col.s12.center.row{
    text-align: left ;
    padding: 70px 20px 70px 60px;
}
.csec1.col.s12.l6{
    width: 40% !important;
}
.csec2,.csec3,.csec4{
    width: 19.666667% !important;
}
.addemail.valign-wrapper,.clogo.valign-wrapper,.paymentlogo.valign-wrapper {
    justify-content: flex-start;
}
}

.heightHundredPercent {
    height: 100%;
}
.widthHundredPercent {
    width: 100%;
}