*{
    margin: 0px;
    font-family: sans-serif;
}
.maincontainer{
    display: flex;
    width: 100%;
    height: 100%;
    background-color:#fab502;
    align-items: center;

}
.subcontainer{
    display: flex;
    height: 98%;
    width: 86%;
    background-color: white;
    margin: 7%;
    flex-direction: column;
    
}
.header{
    margin: 1%;
    background-color: black;
    color: white;
    width: 98%;
    height: 20%;

}
.text1{
    width: 98%;
    height: 78%;
    padding:4%;
    font-size: 30px;
    color: yellow;
    
}
.text2{   
    color: yellow;
    padding-left: 50%;
    font-size: 19px;
}
.naviBar{
    width:98%;
    height: 6%;
    margin-left: 1%;
    background-color:black; 
    padding-left:0px ;
   }
.naviBar > li
{
    display: inline-flex;
    border-right: 1px solid white;
    padding: 1% 3%;
    color: white;
}
.text3 {
    font-size: 25px;
    padding-left: 5%;
    margin-top: 30px;
  }
  
  .text4 {
    margin-top: 0px;
    padding-left: 5%;
    margin-bottom: 5%;
    padding-right: 39%;  }
  .space{
      margin-bottom: 2%;
      padding-left: 2%;
  }