*{
    margin: 0px;
    box-sizing: border-box;
}

.grid2.col.s12 {
    padding: 0px;
}
.image.row {
    padding: 20px 10px !important;
}
img.col.s12,img.col.m4.l4.hide-on-small-only,img.col.m9.l9.hide-on-small-only {
    margin-bottom: 20px !important;
}
.striped>tbody>tr:nth-child(even){
    background-color:rgba(242,242,242,0.5) !important;
}
.striped{
    border-collapse: separate;
    border-spacing: 0 1em;
}
.last.col.m12.l12.hide-on-small-only.white {
    margin: 0px 0px 0px 10px !important;
    width: 98%;
}
.image.row.blue {
    margin: 0px !important;
}
.grid1.col.l2.hide-on-med-and-down {
    padding: 0px !important;
}
.navcontent {
    background-color: #323641;
    height: 851px;

}
a.waves-effect {
    padding: 10px;
    width: 100%;
    color: #737989;
}
a.brand-logo.center {
    font-family: 'Francois One', sans-serif;
}
a.waves-effect:hover,ul.drop> li:hover{
    background-color: #353942;
    color: white;
  }
  .dropcontent {
    display: none;
}
.down:hover .dropcontent {
    display: block;
  }
.fa-tachometer-alt,.fa-chart-pie,.fa-life-ring,.fa-screwdriver,.fa-table,.fa-map-marked,.fa-file-invoice,.fa-paperclip,.fa-exclamation-triangle {
    padding-right: 10px;
}
.subHead.row {

    margin: 10px 0px !important;
}
.head.row {
    margin: 0px !important;
}
.input-field {
    
        height: 79% !important;
        background-color: #f3edfe;
        margin-top: 7px !important;
        border-radius: 38px;
        background-color: #f3edfe;
    
}
input#search {
    padding-left: 1rem !important;
    width: -webkit-fill-available;
    border-radius: 20px;
}
li.secbar {
    width: 38%;
}
.fa-expand-arrows-alt,.fa-bell,.fa-envelope,.fa-cog{
    color: #969395;
}
.fa-bars{
    color: black;
}
li.bar {
    width: 52px;
}
nav a.sidenav-trigger {
    display: block !important;
    margin: 0px !important;
}
ul.icons.right >li{
    padding-right: 10px;
}
ul.drop> li{
    padding-left: 33px;
    background-color: #323641;
    color: #737989;
}
.text1.col.s4.m2.l2 {
    border-left: 5px solid blue !important;
    font-size: 20px !important;
}
.text2.col.s2.m1.l1 {
    line-height: 32px !important;
}
i.fas.fa-user-graduate {
    font-size: 30px;
}