* {
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
.maincontainer {
  padding-top: 10px;
  background-color: #5a4a0b;
}
.header {
  background-color: #7c6513;
  padding: 22px;
  margin: 0px 5px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
  color: white;
}
.naviBar {
  color: white;
  padding: 18px 27px;
  font-size: 24px;
  background-color: #7c6513;
  margin: 10px 5px;
}
.icon ul {
  display: none;
}
.innerBox {
  margin: 0px 20px;
  margin-top: 10px;
  background-color: white;
}
.text1 {
  font-family: 'Chewy', cursive;
  color: #7c4210;
  margin-bottom: 20px;
  text-align: center;
  font-size: 36px;
  padding-top: 24px;
}
.squareBox {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: dotted;
}
.box{
  background-color: #7c6513;
  width: 275px;
  font-size: 31px;
  height: 275px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  line-height: 276px;
  color: white;
}




.h2 {
  font-family: 'Chewy', cursive;
  font-size: 31px;
  margin: 20px;
  color: #7c4210;
}
.text3 p {
  font-size: 30px;
  padding: 0px 30px;
}
@media screen and (min-width: 600px) {
  .maincontainer {
    height: 100%;
  }
  .text1 {
    font-size: 25px;
  }
  
  .squareBox {
    flex-direction: row;
    margin: 0px 40px;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
  }
  .box {
    width: 150px;
    font-size: 25px;
    height: 150px;
    line-height: 200px;
  }
  
  .h2 {
    font-size: 25px;
  }
  .text3 p {
    font-size: 15px;
  }
}
@media screen and (min-width: 900px) {
  .maincontainer {
    height:100%;
  }
  .header {
    width: 84%;
    margin-top: 0px;
    font-size: 20px;
    margin-left: 120px;
  }
  .icon i {
    display: none;
  }
  .icon ul {
    display: flex;
    padding-left: 100px;
  }
  .icon ul > li {
    font-family: 'Chewy', cursive;
    font-size: 20px;
    padding: 0px 20px;
    list-style: none;
    color: white;
  }
  .innerBox {
    margin-right: 120px;
    margin-left: 120px;
    width: 84%;
  }
  .text1 {
    font-size: 30px;
  }
  .squareBox {
    flex-direction: row;
    margin: 0px 40px;
    margin-top: 30px;
    align-items: center;
    justify-content: space-evenly;
  }
  .box {
    width: 200px;
    font-size: 25px;
    margin: 0px 20px;
    height: 200px;
    line-height: 200px;
  }

  .h2 {
    font-size: 25px;
  }
  .text3 p {
    font-size: 15px;
  }
}
