* {
  margin: 0px;
}
.outerBox {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #fab502;
  
    align-items: center;
    justify-content: center;
}
.flex1{
  display:flex;
  width:23%;
  height: 23%; 
  align-self: start;

}
.circle1 {
  height: 100%;
  width: 100%;
  border-radius: 0% 0% 565% 0%;
  background-color:#a12eff;
}
.innerBox {
  height: 48%;
  width: 54%;
  background-color:white;
  box-shadow:0px 0px 14px 2px #f5f5f5 ;
}
.flex2{
  display:flex;
  width: 23%;
  height: 23%; 
  align-self:flex-end;
}
.circle2 {
  height: 100%;
  width: 100%;
  border-radius:565% 0% 0% 0%;
  background-color: rgba(208,208,208,255);
}
